<p>Hey {{ name }},</p>
<p>Use this One-Time-Password to confirm your email</p>
<h3>
    {{ code }}
</h3>
<br>
<p>
    This code will expire in 10 minutes. If you did not make this request,
    please ignore this email.
</p>