<p>Use this link to confirm your email address</p>
<br>
<p>
    <a href="{{ url }}" target="_blank">
        {{ url }}
    </a>
</p>
<br>
<p>
    This link will expire in 10 minutes. If you did not make this request,
    please ignore this email.
</p>